.form {
  input {
    margin-bottom: 20px;
    border: 2px solid #c5ced6;

    font-weight: bold;
    &::-webkit-input-placeholder {
      color: #c6d2db;
    }
    &::after {
      margin: 0;
    }
  }
  .cpf {
    width: 180px;
  }
  .cep {
    width: 180px;
  }
  .cidade {
    width: 180px;
  }
  .celular {
    width: 230px;
  }
  .endereco {
    width: 230px;
  }
}

@media only screen and (max-width: 500px) {
  .form {
    padding: 50px;
    margin-left: 50px;
  }

  .cpf {
    width: 180px;
  }
  .cep {
    width: 180px;
  }
  .cidade {
    width: 180px;
  }
  .celular {
    width: 230px;
  }
  .endereco {
    width: 230px;
  }
}
