.meusFilmes {
  th {
    height: 35px;
    color: black;
    font-weight: normal;
    padding-left: 10px;
    &:first-child {
      width: 500px;
      text-align: left;
      padding-left: 10px;
      font-weight: bold;
    }
    a {
      text-decoration: none;
      color: black;
    }

    &:last-child {
      a {
        color: white;
        background-color: rgb(4, 90, 160);
        padding: 5px;
        border-radius: 5px;
        -webkit-border-radius: 5px;
        -moz-border-radius: 5px;
        -ms-border-radius: 5px;
        -o-border-radius: 5px;
      }
    }
  }
}
